<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/* @var $block \Magento\Framework\View\Element\Template */

/** @var \Mbs\ProductCompare\ViewModel\CompareProductSidebar $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="block block-compare" data-bind="scope: 'compareProducts'" data-role="compare-products-sidebar">
    <div class="block-title">
        <strong id="block-compare-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Compare Products')) ?></strong>
        <span class="counter qty no-display" data-bind="text: compareProducts().countCaption, css: {'no-display': !compareProducts().count}"></span>
    </div>
    <!-- ko if: compareProducts().count -->
    <div class="block-content no-display" aria-labelledby="block-compare-heading" data-bind="css: {'no-display': !compareProducts().count}">
        <ol id="compare-items" class="product-items product-items-names" data-bind="foreach: compareProducts().items">
            <li class="product-item">
                <input type="hidden" class="compare-item-id" data-bind="value: id"/>
                <strong class="product-item-name">
                    <a data-bind="attr: {href: product_url}, html: name" class="product-item-link"></a>
                </strong>
                <div data-bind="html: image"></div>
                <a href="#"
                   data-bind="attr: {'data-post': remove_url}"
                   title="<?= $block->escapeHtmlAttr(__('Remove This Item')) ?>"
                   class="action delete">
                    <span><?= $block->escapeHtml(__('Remove This Item')) ?></span>
                </a>
            </li>
        </ol>
        <div class="actions-toolbar">
            <div class="primary">
                <a data-bind="attr: {'href': compareProducts().listUrl}" class="action compare primary"><span><?= $block->escapeHtml(__('Compare')) ?></span></a>
            </div>
            <div class="secondary">
                <!-- ko if: notsavedCompareProduct().length -->
                <a class="compare-refresh action" data-bind="click: function() { refreshNotsavedCompareProduct()}">
                    <span><?= $block->escapeHtml(__('Refresh')) ?></span>
                </a>
                <!-- /ko -->
                <a id="compare-clear-all" href="#" class="action clear" data-post="<?=$block->escapeHtml(
                    $this->helper(Magento\Catalog\Helper\Product\Compare::class)->getPostDataClearList()
                ) ?>">
                    <span><?= $block->escapeHtml(__('Clear All')) ?></span>
                </a>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: compareProducts().count -->
    <div class="empty">
        <?= $block->escapeHtml(__('You have no items to compare.')) ?>
        <div class="actions-toolbar">
            <div class="secondary">
                <!-- ko if: notsavedCompareProduct().length -->
                <a class="compare-refresh action" data-bind="click: function() { refreshNotsavedCompareProduct()}">
                    <span><?= $block->escapeHtml(__('Refresh')) ?></span>
                </a>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
{"[data-role=compare-products-sidebar]": {"Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>}}
</script>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "mbs-compare-products": {
                        "component": "mbs_compare_products"
                    }
                }
            }
        }
    }
</script>

<div data-bind="scope:'mbs-compare-products'">
    <div data-bind="template: getTemplate()"></div>
    <div data-bind="visible: false">Loader Image here</div>
</div>