<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare */
?>
<div data-bind="scope:'mbs-product-compare-<?php echo $block->getProduct()->getId(); ?>'">
    <div data-bind="template: getTemplate()"></div>
    <div data-bind="visible: false">Loader Image here</div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "mbs-product-compare-<?php echo $block->getProduct()->getId(); ?>": {
                        "component": "mbs_product_compare",
                        "config": {
                            "productId": "<?php echo $block->getProduct()->getId(); ?>",
                            "productName": "<?php echo $block->getProduct()->getName(); ?>"
                        }
                    }
                }
            }
        }
    }
</script>