.product-item-actions {
    .actions-secondary  {
        .addto-compare-checkbox:before {
            content: '\e61f';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 29px;
            line-height: 24px;
            color: #7d7d7d;
            font-family: 'icons-blank-theme';
            vertical-align: middle;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            speak: none;
            text-align: center;
            cursor: pointer;
        }
    }
}

a.compare-refresh {
    cursor: pointer;
}